@font-face {
   font-family: 'CALIBRIB';
   font-display: swap;
   src: url('file:///C:/Users/Raphael%20S%20Musasa/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-20_192911/fonts/CALIBRIB/font.TTF');
}
